.env
.env.local
.env*.local
.next/
node_modules/
.npm-cache/
tmp/
*.log
tsconfig.tsbuildinfo
data
dist
coverage
firebase-debug.log
*-firebase-adminsdk-*.json
serviceAccount*.json
android/.gradle/
android/build
android/app/build
android/local.properties
android/*.jks
android/*.keystore
ios/**/DerivedData
ios/**/*.xcuserstate
ios/**/*.xcuserdata
ios/**/build
